@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&family=Moon+Dance&family=Neonderthaw&family=Roboto:ital@1&display=swap");

.links {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-family: "Secular One", sans-serif;
  padding: 10px;
  font-size: 20px;
}

.links:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.Top-Section {
  display: flex;
  justify-content: center;
  padding: 5px;
}
.text-top-section {
  font-size: 30px;
  font-weight: bold;
  color: rgba(12, 28, 245, 0.342);
  font-family: "Irish Grover", cursive;
  font-family: "Moon Dance", cursive;
  font-family: "Neonderthaw", cursive;
  font-family: "Roboto", sans-serif;
}
.details-desciptions {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}
.details-desciptions-text {
  color: grey;
  font-size: 15px;
}

.Subjects-Details {
  display: flex;
  margin-left: 30px;
  margin-right: 30px;
}
.Card-Main {
  padding: 10px;
}

.image-thumbnail {
  width:300px;

  object-fit: cover;
}
.navbar {
  background-color: rgb(39, 39, 27);
  padding: 20px;
}

.links2 {
  text-decoration: none;
}
.Footer {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.askQuestion {
  color: grey;
  font-size: 30px;
}
.aksQuestionDiv {
  display: flex;
  justify-content: center;
  margin-left: 50px;

  margin-right: 50px;
}
.ProfileImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}

.adminStats {
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}
.divquestionlist {
  display: flex;
  justify-content: center;
}
.submit-btn {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  width: 100px;
  height: 100px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
.btn {
  background-color: #4caf50;
  color: white;
  padding: 50px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
}
.des{
  color: grey;
}
.spinner{
  display: flex;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}